name: Build Clover Finder Exe

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: |
        pyinstaller --onefile --name fourleaf_finder main.py

    - name: Upload Exe Artifact
      uses: actions/upload-artifact@v4
      with:
        name: fourleaf_finder_exe
        path: dist/fourleaf_finder.exe
